@import "tailwindcss";

@theme inline {
  --color-background: #050505;
  --color-foreground: #fcfcfc;
  --color-muted: #111111;
  --color-muted-foreground: #888888;
  --color-border: #222222;
  --color-accent: #ffffff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}

@layer utilities {
  .glass-panel {
    @apply bg-black/40 backdrop-blur-xl border border-white/10;
  }
}
